<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid page-header">
        <h1>Example page header <small>Subtext for header</small></h1>
    </div>
    <div class="container-fluid row">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/cv">CV</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </div>
    <div class="container-fluid row">
        <div class="col-md-9">
            <div class="container">

                {{ content }}

            </div>
        </div>
        <div class="col-md-3">
            <div>
                <ul>
                    {% for post in site.posts %}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <ul>
            <li><a href="mailto:rangh@foxmail.com">email</a></li>
            <li><a href="https://github.com/muidea">github.com/muidea</a></li>
            <li><a href="#">{{site.time | date_to_long_string}}</a></li>
        </ul>
    </footer>
</body>

</html>